* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.footer1 {
    background-color: rgb(58, 70, 89);
    color: white;
    height: 2.5em;
}

.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    color: white;
    text-decoration: none;
}

.links:hover {
    color: white;
    text-decoration: none;
}

.underline-link:hover {
    text-decoration: underline;
}

.links:hover>.footer1 {
    background-color: rgb(75, 86, 103);
}

.footer2 {
    background-color: rgb(37, 47, 61);
    color: white;
    min-height: 45vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer4-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 15em;
}

@media (min-width: 40em) {
    .footer4-1 {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.8em;
    }

    .footer4-1>a:nth-child(1) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .footer4-1>a:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .footer4-1>a:nth-child(3) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .footer4-1>a:nth-child(4) {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }

    .footer4-1>a:nth-child(5) {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
    }

    .footer4-1>a:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .footer4-1>a:nth-child(7) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .footer4-1>a:nth-child(8) {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    .footer4-1>a:nth-child(9) {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }
}

.footer2-1 {
    padding: 3vh;
    grid-column: 2 / 3;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
}

.footer2-2 {
    padding: 3vh;
    grid-column: 3 / 4;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
}

.footer2-3 {
    padding: 3vh;
    grid-column: 4 / 5;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
}

.footer2-4 {
    padding: 3vh;
    grid-column: 5 / 6;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
}

.padding-1 {
    padding: 3px;
    font-weight: 250;
    font-size: 0.95em;
}

.horizontal-ruler {
    background-color: rgb(99, 119, 129);
    min-height: 0.04rem;
}

.footer3 {
    background-color: rgb(37, 47, 61);
    color: white;
    min-height: 20vh;
    flex-direction: column;
    justify-content: space-around;
}

.font-weight-bold {
    font-weight: bolder;
}

#logo {
    height: 3em;
}

.flexbox-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h-w {
    width: 100%;
    height: 100%;
}

.footer4 {
    background-color: rgb(20, 26, 33);
    color: white;
    min-height: 20em;
    display: flex;
    flex-flow: column wrap;
}

.footer4-3 {
    font-size: 0.7em;
    font-weight: 200;
}

.footer-list {
    padding: 0.5em;
    text-align: center;
}

.footer-list>li {
    padding: 0.5em;
    font-size: 0.8em;
    display: inline;
}

.footer4-1-flex {
    display: flex;
    flex-flow: column;
    font-size: 0.8em;
    font-weight: 300;
    color: #999;
}

.div-first {
    color: #DDD;
}

.header1 {
    background-color: rgb(20, 25, 32);
    color: white;
    min-height: 8vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.header1-1 {
    margin: 0 0.5em;
    height: 3em;
    width: 10em;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header1-1:hover {
    border-color: white;
}

.header1-1:has(.tmp):hover {
    border: 1px solid transparent;
}

.header1>.header1-1>img {
    max-height: 6vh;
}

.header1-1-1 {
    display: flex;
    align-items: center;
    max-height: 6vh;
}

.header1-1-1>img {
    height: 3vh;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
}

.header1-1-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header1-1-2 {
    color: #999;
    font-size: 0.9em;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header1-1-3 {
    color: white;
    font-size: 0.9em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.search-bar {
    display: flex;
    margin: 1em;
    height: 3em;
    align-items: center;
}

.search-bar>div:nth-child(1)>select {
    height: 3em;
    text-align: center;
    border: 2px solid rgb(233, 233, 237);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    box-sizing: border-box;
}

.search-bar>div:nth-child(1)>select:valid:focus {
    box-shadow: none;
    border: 2px solid teal;
}

.search-bar>div:nth-child(2)>input {
    height: 3em;
    width: 30em;
    border: 2px solid white;
    box-sizing: border-box;
}

.search-bar>div:nth-child(2)>input:focus {
    outline: none;
    border: 2px solid teal;
}

.search-bar>div:nth-child(3)>input {
    height: 3em;
    width: 3em;
    background-color: rgb(242, 191, 118);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-image: url(../images/lens.png);
    border: 2px solid rgb(242, 191, 118);
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.search-bar>div:nth-child(3)>input:is(:hover, :focus) {
    background-color: rgb(232, 171, 90);
    border: 2px solid teal;
}

@media (max-width: 40em) {
    .footer2 {
        display: flex;
        flex-flow: row wrap;
        height: auto;
    }

    .search-bar {
        display: none;
    }
}

.header2 {
    background-color: rgb(37, 47, 61);
    min-height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.header2-1 {
    display: flex;
    align-items: center;
    min-height: 2em;
    padding: 0.3em;
    margin: 0.5em 1em;
    width: 6em;
    color: rgb(245, 245, 247);
}

.main {
    min-height: 150vh;
    max-width: 100vw;
    background-color: rgb(245, 245, 247);
    color: black;
    display: flex;
    flex-flow: column wrap;
    gap: 2em;
    align-items: center;
}

.main>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    background-color: white;
    width: 95vw;
    height: auto;
}

.black {
    color: black;
}

.black:hover {
    color: lightblue;
}

.card-heading {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.card-heading>div:nth-child(1) {
    font-weight: 800;
    font-size: 1.5em;
    padding: 0 1em;
}

.card-heading>div:nth-child(2) {
    padding: 0.5em 0;
}

.product-images {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.pimg-container {
    max-width: 12em;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid lightblue;
    margin: 1px
}

.pimg {
    margin: 1px
}

.pimg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pimg-caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.pimg-caption>div:nth-child(1) {
    background-color: red;
    color: white;
    padding: 0.4em;
    border-radius: 0.2em;
    margin: 1px;
}

.pimg-caption>div:nth-child(2) {
    color: crimson;
    margin: 1px;
}

.object-fit {
    object-fit: cover;
}